
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Home Screen</title>
</head>



<body>
<div class = "container">

    <h1>
       FREE-SOFT TASK
    </h1>

    <h2>
        A task that is issued by related company.
    </h2>

    <hr sec:authorize="hasRole('ROLE_ADMIN')">

    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/books/bookForm}"
       class="btn btn-primary btn-sm mb-3">
        Add Book
    </a>

    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/user/form}"
       class="btn btn-primary btn-sm mb-3">
        Add User
    </a>

    <hr>

    <a th:href="@{/books/list}"
       class="btn btn-primary btn-sm mb-3">
        List Books
    </a>

    <hr>

    <a th:href="@{/books/queryForm}"
       class="btn btn-primary btn-sm mb-3">
        Query Books
    </a>

    <hr>

    <a th:href="@{/login?logout}"
       class="btn btn-primary btn-sm mb-3">
        Log Out
    </a>

</div>
</body>
</html>