
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Employee</title>
</head>

<body>

<div class="container">

    <h3>The Library</h3>
    <hr>

    <p class="h4 mb-4">Add User</p>

    <form action="#" th:action="@{/user/save}"
          th:object="${user}" method="POST">

        <input type="hidden" th:field="*{id}"
               class="form-control mb-4 col-4">


        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Name" required>

        <input type="text" th:field="*{surname}"
               class="form-control mb-4 col-4" placeholder="Surname" required>

        <input type="email" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email" required>

        <input type="password" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="Password" required>

        <label for="roles">Role:</label>

        <select th:field="*{roles[0].role}" name="roles" id="roles">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/books/list}">Back to Book List</a>

</div>
</body>

</html>

